<div class="header_dash d-flex justify-content-between px-4 align-items-center", style="background-image: linear-gradient(90deg, rgba(241, 191, 78, 0.35) 0%, rgba(241, 102, 71, 0.35) 41.61%, rgba(189, 50, 62, 0.59) 79.9%), url(<%= asset_path('undraw_co-workers_ujs6.svg') %>);">
      <div>
        <%= link_to(dashboard_path) do %>
          <p class="logo_dash text-center"><%= image_tag "logoCOLO2.png", :size => "120x80"%></p>
        <% end %>
      </div>
      <div id="content">
        <h1 class="titre_cdp_dash align-items-center">COUP DE POUCE</h1>
      </div>
      <div class="border_avatar_nav p-1 align-items-center dropleft" style="height: 80px">
          <button class="avatar-very-large avatar-bordered dropdown-toggle" style="background-image: url(https://kitt.lewagon.com/placeholder/users/arthur-littm);width: 72px;height: 72px;background-size: cover;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Profile', dashboard_path, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to 'Dashboard', dashboard_path, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to 'Home', root_path, class: "dropdown-item"%>
          </div>
      </div>


    <div class="form-ss text-center mt-2">
      <% if current_user == nil %>
        <%= render "devise/sessions/new" %>
      <% end %>
    </div>
</div>

<button class='dps'><%= link_to 'Déposer', new_mission_path %></button>
<button class='rcc'><%= link_to 'Rechercher', missions_path %></button>

<h3 class="mt-2">En cours</h3>
<div class="my_missions">
  <p><strong>Missions créées :</strong></p>
  <ul>
    <% current_user.missions.each do |mission| %>
      <li>
        <%= link_to mission.title, mission_path(mission.id) %>
        <%= link_to(mission_path(mission.id)) do %>
          <i style="margin-right: 0.5em; color: rgb(0,0,0);" class='far fa-eye'></i>
        <% end %>
        <%= link_to(edit_mission_path(mission.id)) do %>
          <i style="margin-right: 0.5em; color: rgb(0,0,0);" class='far fa-edit'></i>
        <% end %>
        <%= link_to(mission_path(mission.id), method: :delete, data: { confirm: "Are you sure?" }) do %>
          <i style="margin-right: 0.5em; color: rgb(0,0,0);" class='far fa-trash-alt'></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="my_participations mt-3">
  <p><strong>Participations à effectuer :</strong></p>
  <ul>
    <% current_user.participations.each do |participation| %>
      <li>
        <%= link_to participation.mission.title, mission_path(participation.mission.id) %>
        <%= link_to(mission_path(participation.mission.id)) do %>
          <i style="margin-right: 0.5em; color: rgb(0,0,0);" class='far fa-eye'></i>
        <% end %>
        <%= link_to(mission_participation_path(participation.mission.id, participation.id), method: :delete, data: { confirm: "Are you sure?" }) do %>
          <i style="margin-right: 0.5em; color: rgb(0,0,0);" class='far fa-trash-alt'></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%#= link_to 'Rechercher une mission', missions_path, class: "btn btn-primary" %>
<%#= link_to 'Déposer une mission', new_mission_path, class: "btn btn-success" %>

<!-- Ajouter l'historique... -->
<h3 class="mt-5">Terminé</h3>
<p><strong>Missions créees : ...</strong></p>
<p class="mt-3"><strong>Participations : ...</strong></p>

<p class="mb-5"></p>
