<div class="banner">
<h1 class="cdp">Coup de pouce !</h1>
<img src="" alt="">
</div>

<% if current_user != nil %>
  <p><%= link_to 'Déposer', dashboard_path %></p>
  <p><%= link_to 'Rechercher', dashboard_path %></p>
<% else %>
  <p><%= link_to 'Déposer', new_user_registration_path %></p>
  <p><%= link_to 'Rechercher', new_user_registration_path %></p>
<% end %>


<% if current_user != nil %>
  <p><%= current_user.first_name %>, you are log in.</p>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% else %>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <p><%= link_to 'Log in', new_user_session_path %></p>
<% end %>

