<h1>Editing Mission</h1>

<%= simple_form_for(@mission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :description %>
    <%= f.input :reward %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :number_of_participants %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', mission_path(@mission) %>
