<div class="header", style="background-image: linear-gradient(270.9deg, rgba(189, 50, 62, 0.19) 40.6%, rgba(238, 190, 88, 0.14) 71.3%), url(<%= asset_path('undraw_co-workers_ujs6.svg') %>);">
  <div class="container d-flex">
    <div class="form text-center mt-2">
    </div>
  </div>
</div>

<h1>Nouvelle mission</h1>

<%= simple_form_for(@mission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :reward %>
    <%= f.input :place %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :number_of_participants %>
  </div>

  <div class="form-actions btn btn-primary mt-2">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Retour sur dashboard', dashboard_path, class: "btn btn-secondary mt-3" %>
