<h1> <%= @mission.title %></h1>
<ul><%#@mission.description.each do |mission|%>
  <li> description: <%= @mission.description %>
    <p> categorie: <%=@mission.category  %></p>
    <p>prix: <%=@mission.reward %>€</p>
    <p> Besoins :<%=@mission.number_of_participants%> personne </p>
    <p>adresse <%=@mission.place  %></p>
    <p>from <%=@mission.start_date %> to <%=@mission.end_date%></p>





  </li>
<%#end %>

<ul>
<%= link_to "<< see All missions",  missions_path(@mission), class: "btn btn-primary"%>
</ul>

</ul


