<div class="header_dash d-flex justify-content-between px-4 align-items-center", style="background-image: linear-gradient(360deg, rgba(15, 15, 15, 0.17) 16.33%, rgba(15, 15, 15, 0) 108.97%), url(<%= asset_path('missionshow.png') %>);">
      <div>
        <%= link_to(dashboard_path) do %>
          <p class="logo_dash text-center"><%= image_tag "logoCOLO2.png", :size => "120x80"%></p>
        <% end %>
      </div>
      <div id="content">
        <h1 class="titre_cdp_dash align-items-center">COUP DE POUCE</h1>
      </div>
      <div class="border_avatar_nav p-1 align-items-center dropleft" style="height: 80px">
          <button class="avatar-very-large avatar-bordered dropdown-toggle" style="background-image: url(https://kitt.lewagon.com/placeholder/users/arthur-littm);width: 72px;height: 72px;background-size: cover;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Dashboard', dashboard_path, class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item"%>
          </div>
      </div>
</div>


<div class="d-flex page_view px-4 pt-4 pb-1 justify-content-around">
  <div class="moitier-gauche d-flex flex-column pl-4 col-6">
    <div class="card_show px-5 pt-1 mx-auto">
      <div class="card ml-3">
        <div class="card-body text-primary">
          <h5 class="card-title"><%= @mission.title %></h5>
          <p class="card-text">
            <p><%= @mission.description %></p>
            <p><%=@mission.place  %></p>
            <p> Prix: <%=@mission.reward %>€</p>
            <p> De <%=@mission.start_date.to_date %> à <%=@mission.end_date.to_date%></p>
          </p>
        </div>
      </div>
    </div>
    <div class="cards d-flex ">
      <% @mission.participations.each do |participation| %>
      <div class="card cards-participations mr-2 d-flex flex-column" style="width: 18rem;">
        <div class="border-avatar mx-auto mt-2 p-1">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-very-large text-center avatar-bordered", alt: "avatar-very-large" %>
        </div>
        <p class="mx-auto"><%= participation.user.first_name %></p>
      </div>
      <% end %>
      <% @nombre.times do %>
      <div class="card cards-participations mr-2 d-flex flex-column" style="width: 18rem;">
        <div class="border-avatar mx-auto mt-2 p-1">
          <%= image_tag "grey.jpg", class: "avatar-very-large text-center avatar-bordered", alt: "avatar-very-large", style: "width: 72px; height: 72px;" %>
        </div>
        <p class="mx-auto">?</p>
      </div>
      <% end %>
    </div>
    <%# if @nombre > 0 %>
      <%= link_to "Rejoindre!", mission_participations_path(@mission), method: :create, class: "btn rejoindre_button mt-2 mx-auto p-0"%>
    <%# end %>
  </div>

  <div class="moitier-droite d-flex align-items-end flex-column col-6 pb-4 pr-4">
    <div class="name my-2">
      <p class= "name-text text-center"><%= @mission.user.first_name%></p>
    </div>
    <div class="profile_card my-2 p-2">
      <div class="d-flex">
        <div class="profil d-flex flex-column">
          <div class="border_avatar_nav p-1 align-items-center dropleft" style="height: 80px">
            <div class="avatar-very-large avatar-bordered dropdown-toggle" style="background-image: url(https://kitt.lewagon.com/placeholder/users/arthur-littm);width: 72px;height: 72px;background-size: cover;"></div>
          </div>

          <p class= "name_card text-center"><%= @mission.user.first_name%></p>
        </div>
        <div class="blabla d-flex flex-column">

        </div>
      </div>
    </div>
    <div
        class="map-show my-2"
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

