<div class="header", style="background-image: linear-gradient(270.9deg, rgba(189, 50, 62, 0.19) 40.6%, rgba(238, 190, 88, 0.14) 71.3%), url(<%= asset_path('undraw_co-workers_ujs6.svg') %>);">
  <div class="container d-flex">
    <div class="form text-center mt-2">
    </div>
  </div>
</div>

<h1 class="ml-3"> Détail de la mission </h1>
<div class="col-12 col-sm-10  col-md-8  col-lg-6  col-xl-6 pl-0">
<div class="card border-secondary mb-3 ml-3">
  <div class="card-body text-primary">
    <h5 class="card-title"><%= @mission.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%=@mission.category  %></h6>
    <p class="card-text">
      <p> Description: <%= @mission.description %></p>
      <p> Prix: <%=@mission.reward %>€</p>
      <p> Nombre: <%=@mission.number_of_participants%> personne </p>
      <p> Adresse: <%=@mission.place  %></p>
      <p> De <%=@mission.start_date.to_date %> à <%=@mission.end_date.to_date%></p>
    </p>
    <%= link_to "Modifier",  edit_mission_path(@mission), class: "btn btn-outline-warning mt-4"%>
    <%= link_to 'Supprimer', mission_path(@mission), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mt-4" %>
  </div>
  <div class="card-footer text-muted">
    Last updated 2 days ago
  </div>
</div>
</div>
<div class="cards d-flex col-12 col-sm-10  col-md-8  col-lg-6  col-xl-6">
  <% @mission.number_of_participants.times do %>
    <div class="card cards-participations mr-2 d-flex flex-column" style="width: 18rem;">
      <div class="border-avatar mx-auto mt-3 p-1">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-very-large text-center avatar-bordered", alt: "avatar-very-large" %>
      </div>
      <p class="mx-auto">nom</p>
    </div>
  <% end %>
</div>

<div class="col-12 col-sm-10  col-md-8  col-lg-6  col-xl-6">
<%= link_to "Rejoindre!", mission_participations_path(@mission), method: :create, class: "btn btn-primary btn-block mt-4"%>
</div>

<p class="mt-2 ml-3"><%= link_to "Retour sur dashboard",  dashboard_path, class: "btn btn-outline-secondary"%></p>

